@layer utilities {
    .custom-container {
        max-width: 1000px;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: auto;
        margin-right: auto;
    }

    .custom-font {
        color: #225487;
    }
}

:root {
    --primary-color: #0162b3;
    --secondary-color: #eca725;
}

body {
    font-family: "Roboto", sans-serif;
}

.text-color {
    color: gray;
}

.tab-container {
    display: flex;
    justify-content: flex-end;

}

.tab {
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 10px;
    color: gray;


}

@media only screen and (max-width:640px) {
    .tab {
        cursor: pointer;
        padding: 0px 2px;
        margin-left: 10px;
        color: gray;
        font-weight: 500;

    }

}

.tab.active {

    color: var(--primary-color);
    /* font-weight: 500; */

}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}


.our-gallery {

    border-bottom: 3px solid var(--secondary-color);
}